<h1>Create Your Bander Account:</h1>
<% if flash.has?(:message) %>
  <h3 style="color:red"><%= flash[:message] %><h3>
<% end %>
<form class="button" action='/banders' method='POST'>
<%if session[:temp]%>
  <h3>Name: <input type="text" name="bander[name]" value="<%=session[:temp][:entered_name]%>"></h3>
  <h3>Email: <input type="text" name="bander[email]" value="<%=session[:temp][:entered_email]%>"></h3>
<%else%>
  <h3>Name: <input type="text" name="bander[name]"></h3>
  <h3>Email: <input type="text" name="bander[email]"></h3>
<%end%>
<h3>Password: <input type="password" name="bander[password]"></h3>
<br>
<input type="submit" value="Register">
</form>
<form class="button" action='/'>
<input type="submit" value="Cancel">
</form>
<br><br>
<h3>This form will only be accessible to people if I give them the link (need to obfuscate the url)</h3>