<h1><%= @bander.name%></h1>
<h2>Email: <%= @bander.email%></h2>
<form action = "/banders/<%=@bander.slug%>/edit">
    <input type="submit" value="Edit">
</form>
<br><br>
<h3><a href="/home">Return to Home Page</a>