<h1>Edit a Species</h1>
<form action='/species/<%=@species.id%>' method='POST'>
<input id="hidden" type="hidden" name="_method" value="patch">
<h2>Species Name: <input type="text" name="species[name]" value="<%=@species.name %>"></h2>
<h2>Alpha Code: <input type="text" name="species[code]" value="<%=@species.code %>"></h2>
<input type="submit" value="Submit Changes">