<h2>Species: <%= @species.name%> </h2>
<h2>Alpha code: <%= @species.code%></h2>
<form action="/species/<%= @species.code%>/edit">
    <input type="submit" value="Edit species" />
</form>
<form action="/reports">
    <input type="submit" value="Home" />
</form>


