<h2>Species: <%= @species.name%> </h2>
<h2>Alpha code: <%= @species.code%></h2>
<form class="button" action="/species/<%= @species.code%>/edit">
    <input class="button" type="submit" value="Edit species" />
</form>
<br><br><br>
<%if session[:bander_id]%>
<form class="button main" action="/home">
<%else%>
<form class="button main" action="/">
<%end%>
    <input class="button" type="submit" value="Return Home" />
</form>


