<% ## SHOW BY DATE RATHER THAN INDIVIDUAL BIRDS %>
<h1>Birds Banded on <%= @session[:date_string]%></h1>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<form action="/birds" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<%@count_by_species.each do |key,value| %>
<tr><td><input type="text" value="<%=key.code%>"</td><td><input type="text" value="<%=key.name%>"</td><td><input type="text" value="<%=value%>"</td>
</tr>
<%end%>
</form>
</table>