<% ## SHOW BY DATE RATHER THAN INDIVIDUAL BIRDS %>
<h1>Birds Banded on <%= @session[:date_string]%></h1>
<table>
<tr><th>Alpha Code</th><th>Species</th><th>Number Banded</th></tr>
<form action="/birds" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<%@count_by_species.each do |species,value| %>
<tr>
    <td><input type="text" name="species[code]" value="<%=species.code%>"</td>
    <td><input type="text" name="species[name]" value="<%=species.name%>"</td>
    <td><input type="number" name="number_banded" value="<%=value%>"</td>
</tr>
<%end%>
</table>
<input type="submit" value="Submit Changes">
</form>
