<h1>Enter Birds Banded</h1>
<form action='/birds' method="POST">
<h2><label>Enter alpha code: </label><input type="text" name="bird[code]" ></h2>
<h2><label>Enter species name: </label><input type="text" name="bird[name]" ></h2>
<h2><label>Enter number banded: </label><input type="integer" name="bird[number_banded]" ></h2>
<input type="submit" value="Submit">
</form>
