<h1>AIMS Daily Report Generator</h1>
<h2><a href="/sessions/login">Bander Login</h2>
<br><br>
<h2>Posted Reports</h2>
<%if @reports%>
    <ul>
        <%@reports.each do |report|%>
            <%if report.status == "posted" %>
                <h3><li><a href="/reports/<%=report.date_slug%>"><%=report.date%></a></li></h3>
            <%end%>
        <%end%>
    </ul>
<%end%>