<!DOCTYPE html>
<html>
  <head>
    <title>AIMS Daily Report Generator</title>
 		<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>

  <body>
  <% if flash.has?(:message) %>
    <h3 style="color:red"><%= flash[:message] %><h3>
  <% end %>

    <%= yield %>
  </body>
</html>