<!DOCTYPE html>
<html>
  <head>
    <title>AIMS Daily Report Generator</title>
 		<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC|Fira+Sans:400,400italic,700,700italic|Merriweather" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>