<h1>Current Season Reports</h1>

<%if @reports%>
    <ul>
        <%@reports.each do |report|%>
            <%if report.status == "posted" %>
                <h2><li><a href="/reports/<%=report.date_slug%>"><%=report.date%></a></li></h2>
            <%end%>
        <%end%>
    </ul>
<%end%>