<h1>Step 2: Add a narrative account (optional):</h1>
<form action="/reports/<%=@date_string%>" method="POST" id="narrative">
 <textarea cols="100" rows="20" name="narrative[content]" form="narrative"></textarea> 
 <br><br>
<input type="submit" value="Continue">
</form>