<h1>Add a written report (optional):</h1>
<form action="/birds/<%=@date_string%>/report" method="POST" id="narrative">
 <textarea cols="100" rows="20" name="narrative[content]" form="narrative"></textarea> 
 <br><br>
<input type="submit" value="Continue">
</form>